
.main-content {
    padding: 30px 15px;
    min-height: calc(100vh - 123px) !important;
}
.container-form{
    margin-top: 10px;
    font-size: 16px;
    font-family: "Maven Pro", sans-serif;
}
.astriek {
    color: red;
}

.button-style-none {
    background: none;
    border: none;
    margin: auto;
}

.button-style-none:focus{
    outline: none;
}

.motto {
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.moodel-header{
    margin: 9px 0px 0px 21px;
    font-family: "Maven Pro", sans-serif;
}


.model-hieght .MuiPaper-root {
    height: 80%;
}

.error_login {
    color: #e40303;
    border-radius: 5px;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 5px;
}

.mb-20 {
    margin-bottom: 20px;
    margin-right: 20px
};

/* Login Page Start */ 

.login_cointainer {
    display: flex;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;

    .makeStyles-avatar-2 {
        margin: 8px;
        background-color: #f50057;
    }

    .makeStyles-form-3 {
        width: 100%;
        margin-top: 8px;

        .makeStyles-submit-4 {
            margin: 24px 0px 16px;
        }
    }
};

/* Login Page End */ 

/* Registration start*/

    .display-inline{
        display: inline-block;
        margin: auto;
    }
    .close-button{
        float: right;
        color: #e24646;
        margin: 1px 10px 4px 7px;
    }
    .close-button:hover{
        color: white;
        background: salmon;
        border-radius: 24px;
    }
/* Registration End */


/* Trimp words opportunity*/
.block-with-text {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 4.5em; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
//   width: 1em;
//   height: 1em;
  margin-top: 0.2em;
  background: white;
}

/* Single line Trimp */
.single-line-trimp {
    height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Active navbar color */
.nav-link.active{
   color: #5d00a9 !important;
   pointer-events: none;
}
#overide-link{
    a,a:hover{
        color: #00ade7 !important;
        cursor: pointer;
    }
}

.breadcrumbs-cs {
    margin: auto;
    font-weight: 600;
    font-size: 17px;
    width: 75%;
    color: #7f7f7f;
    a {
        color: #00ade7 !important;
        font-weight: 515;
    }
    a:hover{
        color: #22509d !important;
        cursor: pointer;
    }
}