div[disabled]
{
  display: none;
}

// h3
// {
//   margin-left: 15px;
// }
.fileInput{
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.imgPreview{
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
// img{
//   width: 100%;
//   height: 100%;
// }
.previewText
{ 
  width: 100%;
  margin-top: 20px;
}
.submitButton
{
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.submitButton :hover{
  background: #efefef;
}
.centerText
{
  text-align: center;
  width: 500px;
}

// .close{
//   position: relative;
//   right: 5px;
//   top: 4px;
//   background: red !important;
//   border-radius: 25px;
//   width: 20px;
//   height: 20px;
//   padding: 0px 0px 2px 2px !important;
//   font-size: 17px !important;
// }
.close_image{
    position: absolute;
    right: 1px;
    background: red !important;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    padding: 0px !important;
    font-size: 17px !important;
}

.previewdiv{
    display: inline-block;
    width: 30%;
    position: relative;
    padding: 10px;
}

.table-loader {
  display: inline-block;
  position: absolute;
  width: 55px;
  height: 55px;
  overflow: visible;
  margin: auto;
  top: 15px;
  left: 0px;
  bottom: 0;
  right: 30px;
}

.table-loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 27px;
  height: 27px;
  margin: 6px;
  border: 2px solid #5592FB;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5592FB transparent transparent transparent;
}

.table tr:nth-child(even){
  background-color: #e6e9eb!important;
}

#customTable{
  font-size: small;
  font-family: SourceSansPro, "Helvetica Neue", Arial;
}
.filter-input{
  font-size: small!important;
  font-family: SourceSansPro, "Helvetica Neue", Arial!important;
}

.table th, .table td{
  padding: 0.5rem!important;
}

.table-loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.table-loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.table-loader div:nth-child(3) {
  animation-delay: -0.15s;
}

#commonTable tr:hover td{
  background-color:#f5f5f5;
}

@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.custom-tooltip {
  font-size: 13px;
  padding : 10px;
  width: 180px;
  height: 140px;
  background-color: #fff;
  border: solid 1px darkgray;
}
#main-operator{
  width: 100%;
}

#main-operator .form-group{
  width: 180px;
}

#display-data-Container .form-group{
  float: left;
  width: 100%;
  padding: 0px;
  margin-bottom:0px;
}

#display-data-Container .row {
  margin-bottom: 0px;
  padding: 0px 0px;
}

#display-data-Container .row:last-child{
  margin-bottom:10px;
}

#display-data-Container .space.row{
  margin-bottom:6px;
}
.close-icon
{
  //width: 46px;
  padding: 25px;
}
.model-ok{
  margin-right: 5px;;
}

.carousel-img {
  width: 900px;
  height: 400px;
}

.margin-right {
  margin-right: 25px;
}
.popover-example, .popup-example, .progressbar-example {
  margin-bottom: 20px;
}

.ne2_details input{
  height:30px;
  font-size:13px;
}